@page "/"
@layout LandingLayout
@inject NavigationManager NavigationManager

<div id="content">
    <h1 id="h1">BlazorServerTemplate</h1>

    <a href="/home" class="btn btn-outline-primary btn-lg" style="font-weight: bold; border: 2px solid #184cb5; box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);"> Enter</a>
</div>


<style>
    #content {
        text-align: center;
        padding: 15% 0;
    }

    #h1 {
        font-weight: bold;
        font-size: 6vw;
        
        color: #184cb5;
        text-shadow: #184cb5;
        
    }

    .btn-outline-primary {
        color: #184cb5;
    }

    .btn-outline-primary:hover {
        color: white;
        background-color: #184cb5;
    }
</style>

@code {
    [CascadingParameter] protected Task<AuthenticationState> AuthenticationState { get; set; }
    
    protected async override Task OnInitializedAsync()
    {
        var authState = await AuthenticationState;
        var user = authState.User;

        if (user.Identity.IsAuthenticated)
        {
            NavigationManager.NavigateTo("/home");
        }
    }
}